.menu-item {
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-right: 1em;
}

.menu-item:hover {
  background: #8DA3BA;
  text-decoration: none;
}

.menu-item.active {
  background: #8DA3BA;
}

.detail-part {
  height: 70px;
}

//.person-card {
//  width: 100% !important;
//  min-width: 290px;
//  min-height: 350px;
//  box-sizing: border-box;
//}
//
//.person-card img, .person-card .avatar-part{
//  width: 100%;
//  height: 290px;
//}
//
//@media (min-width: 576px) { //sm
//  .person-sm-card {
//    width: 100% !important;
//    min-width: 220px;
//    min-height: 270px;
//  }
//
//  .person-sm-card img, .person-sm-card .avatar-part{
//    width: 100%;
//    height: 220px;
//  }
//}
@media (max-width: 767px) {
  @media (min-width: 400px) {
    .col-tiny-6 {
      flex: 0 0 50% !important;
      max-width: 50% !important;
    }
  }
}


.online-state {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.big-shadow-primary {
  text-shadow: 1px 1px #bb324c, 2px 2px #bb334c, 3px 3px #bc334d, 4px 4px #bc344d, 5px 5px #bc344e, 6px 6px #bd354e, 7px 7px #bd354f, 8px 8px #bd364f, 9px 9px #be3650, 10px 10px #be3750, 11px 11px #be3750, 12px 12px #bf3851, 13px 13px #bf3851, 14px 14px #bf3952, 15px 15px #c03952, 16px 16px #c03a53, 17px 17px #c03a53, 18px 18px #c13b54, 19px 19px #c13b54, 20px 20px #c23c55, 21px 21px #c23c55, 22px 22px #c23d56, 23px 23px #c33d56, 24px 24px #c33e57, 25px 25px #c33e57, 26px 26px #c43f58, 27px 27px #c43f58, 28px 28px #c44058, 29px 29px #c54059, 30px 30px #c54159, 31px 31px #c5415a, 32px 32px #c6425a, 33px 33px #c6425b, 34px 34px #c6435b, 35px 35px #c7435c, 36px 36px #c7445c, 37px 37px #c8445d, 38px 38px #c8455d, 39px 39px #c8455e, 40px 40px #c9465e, 41px 41px #c9465f, 42px 42px #c9475f, 43px 43px #ca4760, 44px 44px #ca4860, 45px 45px #ca4860, 46px 46px #cb4961, 47px 47px #cb4961, 48px 48px #cb4a62, 49px 49px #cc4a62, 50px 50px #cc4b63, 51px 51px #cc4b63, 52px 52px #cd4c64, 53px 53px #cd4c64, 54px 54px #ce4d65, 55px 55px #ce4d65, 56px 56px #ce4e66, 57px 57px #cf4e66, 58px 58px #cf4f67, 59px 59px #cf4f67, 60px 60px #d05068;
}

.big-shadow-info {
  text-shadow: 1px 1px #0077b1, 2px 2px #0077b2, 3px 3px #0078b3, 4px 4px #0078b4, 5px 5px #0079b4, 6px 6px #007ab5, 7px 7px #007ab6, 8px 8px #007bb7, 9px 9px #007bb8, 10px 10px #007cb9, 11px 11px #007cba, 12px 12px #007dba, 13px 13px #007ebb, 14px 14px #007ebc, 15px 15px #007fbd, 16px 16px #007fbe, 17px 17px #0080bf, 18px 18px #0080bf, 19px 19px #0081c0, 20px 20px #0082c1, 21px 21px #0082c2, 22px 22px #0083c3, 23px 23px #0083c4, 24px 24px #0084c5, 25px 25px #0084c5, 26px 26px #0085c6, 27px 27px #0086c7, 28px 28px #0086c8, 29px 29px #0087c9, 30px 30px #0087ca, 31px 31px #0088cb, 32px 32px #0088cb, 33px 33px #0089cc, 34px 34px #008acd, 35px 35px #008ace, 36px 36px #008bcf, 37px 37px #008bd0, 38px 38px #008cd0, 39px 39px #008cd1, 40px 40px #008dd2, 41px 41px #008ed3, 42px 42px #008ed4, 43px 43px #008fd5, 44px 44px #008fd6, 45px 45px #0090d6, 46px 46px #0090d7, 47px 47px #0091d8, 48px 48px #0092d9, 49px 49px #0092da, 50px 50px #0093db, 51px 51px #0093dc, 52px 52px #0094dc, 53px 53px #0094dd, 54px 54px #0095de, 55px 55px #0096df, 56px 56px #0096e0, 57px 57px #0097e1, 58px 58px #0097e1, 59px 59px #0098e2, 60px 60px #0098e3;
}

.shadow-xl {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5) !important;
}

.bg-halftransparent {
  background: rgb(0,0,0,0.1) !important;
}

p { word-break: break-all }

textarea {
  resize: none;
  outline: 1px solid #aaa;
}

textarea:focus {
  outline: 1px solid #aaa;
}

.dark-border {
  outline: 1px solid #aaa;
}

.dark-border:hover {
  outline: 1px solid #8DA3BA;
}

.dark-border:focus {
  outline: 1px solid #007ab5;
}

.custom-backdrop {
  background-color: gray;
  opacity: .2 !important;
}

.source-image {
  margin: auto !important;
}

.word-panel  mat-dialog-container {
  padding: 0px !important;
  border-radius: 0px !important;
}

.full-screen-modal .mat-dialog-container {
  max-width: none;
}

.radius-panel  mat-dialog-container {
  padding: 0px !important;
  border-radius: 12px !important;
  overflow: hidden;
}

th div.mat-sort-header-container {
  justify-content: center !important;
}

.mat-paginator-container {
  background-color: #F2F2F2 !important;
}

section.emoji-mart {
  width: 250px !important;
}

.cursor-pointer {
  cursor: pointer;
}
