<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
  <a href="/" class="d-flex align-items-center col-md-1 mb-2 mb-md-0 text-decoration-none"
    style="font-weight:800;padding: 0;">
    auto.market
  </a>
  <ul class="nav col-12 col-md-auto mb-4 justify-content-center mb-md-0 lighter-black">
    <li><a href="#" class="nav-link px-3 link-secondary">Home</a></li>
    <li><a href="#" class="nav-link px-3 link-dark">Sell Car</a></li>
    <li><a href="#" class="nav-link px-3 link-dark">Buy Car</a></li>
    <li><a href="#" class="nav-link px-3 link-dark">Market</a></li>
    <li><a href="#" class="nav-link px-3 link-dark">Contact Us</a></li>
  </ul>

  <div class="col-md-5 text-end d-flex justify-content-end align-items-center">
    <svg width="20px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="car"
      class="svg-inline--fa fa-car fa-w-16 mr-30" role="img" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512">
      <path fill="currentColor"
        d="M499.99 176h-59.87l-16.64-41.6C406.38 91.63 365.57 64 319.5 64h-127c-46.06 0-86.88 27.63-103.99 70.4L71.87 176H12.01C4.2 176-1.53 183.34.37 190.91l6 24C7.7 220.25 12.5 224 18.01 224h20.07C24.65 235.73 16 252.78 16 272v48c0 16.12 6.16 30.67 16 41.93V416c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-32h256v32c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-54.07c9.84-11.25 16-25.8 16-41.93v-48c0-19.22-8.65-36.27-22.07-48H494c5.51 0 10.31-3.75 11.64-9.09l6-24c1.89-7.57-3.84-14.91-11.65-14.91zm-352.06-17.83c7.29-18.22 24.94-30.17 44.57-30.17h127c19.63 0 37.28 11.95 44.57 30.17L384 208H128l19.93-49.83zM96 319.8c-19.2 0-32-12.76-32-31.9S76.8 256 96 256s48 28.71 48 47.85-28.8 15.95-48 15.95zm320 0c-19.2 0-48 3.19-48-15.95S396.8 256 416 256s32 12.76 32 31.9-12.8 31.9-32 31.9z">
      </path>
    </svg>
    <svg width="20px" aria-hidden="true" focusable="false" data-prefix="far" data-icon="star"
      class="svg-inline--fa fa-star fa-w-18 mr-30" role="img" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 576 512">
      <path fill="currentColor"
        d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z">
      </path>
    </svg>
    <img width="20px" src="https://github.com/mdo.png" alt="mdo" class="mr-10 rounded-circle">
    <div class="dropdown text-end mr-20">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Sami L.
      </a>
      <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-primary post-ad-btn">+ Post ad</button>
  </div>
</header>