@import "../../../assets/theme";

.avatar {
  border-radius: 50%;
  overflow: hidden;
  background: $Cabaret;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .avatar {
    span {
      font-size: 30px;
    }
  }
}
