  <div class="form-group" [class.label-input-group]="label">
  <label class="form-label select-wrapper" [class.readonly]="readonly">
    {{ label }}
    <select class="w-100 height-35 dark-border border-0 px-5 mt-5 text-black-50" [(ngModel)]="value" (ngModelChange)="change($event)" (mousedown)="clicked($event)">
      <option disabled selected hidden value="">{{ placeholder }}</option>
      <option [value]="option.value" [disabled]="readonly" *ngFor="let option of options">{{ option.label }}</option>
    </select>
  </label>
</div>
