@import "assets/theme/mat-theme-custom";

// Bootstrap theming
@import "assets/theme";
@import "~bootstrap";

// Custom theme styles
@import "assets/theme/imports";

* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  color: $Suva-Grey;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
